# SPDX-License-Identifier: Apache-2.0

mainmenu "Hybrid Lighting Lab"

source "$ZEPHYR_BASE/Kconfig.zephyr"

menu "Hybrid Lighting Lab"

config HYBRID_WIFI_SSID
    string "Wi-Fi SSID"
    default ""

config HYBRID_WIFI_PSK
    string "Wi-Fi PSK"
    default ""

endmenu
